<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="tradingcards">
         <property
               name="appName"
               value="tradingcards">
         </property>
         <property
               name="lifeCycleURI"
               value="platform://com.vaughn.tradingcards.ui/com.vaughn.tradingcards.ui.handlers.LifeCycleHandler">
         </property>
         <!-- <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>-->
      </product>
   </extension>
   <!-- <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.vaughn.tradingcards.ui.Application">
         <parameter name="optimize" value="true"/>
         </run>
      </application>
   </extension>-->
</plugin>
